@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/********************************************* GLOBAL STYLES *********************************************/

:root {
    --dark-background: #2E3F7F;
    --light-background: #5199FF;
    --text-color: #07315c;
    --input-color: #b9daf5;
    --focus-color: #557ea7;
    --red: #EE3D48;
    --light-red: #F85C50;
    --gold: #f1cb0e;
    --yellow: #dbdb12;
    --dark-white: #aac0db;
    --white: #fff;
    --milk: #E5F0FF;
    --main-width: 500px;
    --radius: 0.5rem;
    --more-space: 0.2rem;
    --less-space: 0.1rem;
    --transition: all 0.5s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*::selection {
    background-color: var(--gold);
    color: var(--text-color);
}
::placeholder {
    color: var(--text-color);
    opacity: 0.8; 
}
:-ms-input-placeholder { 
    color: var(--text-color);
    opacity: 0.8;
}  
::-ms-input-placeholder { 
    color: var(--text-color);
    opacity: 0.8;
}
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(var(--dark-background), var(--light-background));
    color: var(--text-color);
    font-size: 1rem;
}
h1 {
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--more-space);
}
p {
    line-height: 1.5;
}
input, select {
    height: 2rem;
    border: none;
    border-radius: var(--radius);
    background-color: var(--input-color);
    color: var(--text-color);
    font-size: 1rem; 
}
input:focus, select:focus {
    outline: none;
    background-color: var(--focus-color);
    color: var(--white);
}
label {
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--less-space);
}
button {
    height: 2rem;
    border: none;
    border-radius: var(--radius);
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition);
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.4rem;
    }
    body {
        font-size: 0.9rem;
    }
    input, select {
        height: 1.8rem;
        font-size: 0.9rem; 
    }
    button {
        height: 1.8rem;
        font-size: 0.9rem;
    }
}

/********************************************* PRELOADER *********************************************/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--milk);
    transition: var(--transition);
    z-index: 999;
}
.preloader.hide {
    visibility: hidden;
    opacity: 0;
}
.preloader span {
    width: 5rem;
    height: 5rem;
    display: block;
    border: 0.5rem solid var(--light-background);
    border-bottom-color: var(--milk);
    border-radius: 50%;
    background-color: inherit;
    animation: loading 0.5s linear 0s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/********************************************* CURRENCY CONVERTER *********************************************/

.converter {
    position: relative;
    max-width: var(--main-width);
    width: 90vw;
    padding: 2rem;
    border-radius: var(--radius);
    background-color: var(--milk);
}
.theme-switcher {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    height: unset;
    background-color: inherit;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: unset;
}
.conversion-form input {
    width: 100%;
    padding: 0 0.5rem;
}
.conversion-form select {
    width: 6rem;
    padding-left: 0.5rem;
}
.conversion-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.flags-container {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}  
.swap-btn {
    width: 2rem;
    display: grid;
    place-items: center;
    background-color: var(--focus-color);
    color: var(--white);
}
.swap-btn:hover {
    background-color: var(--dark-background);
}
.exchange-result {
    height: 3rem;
    display: grid;
    place-items: center;
    margin: 2rem 0;
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: var(--less-space);
}
.exchange-result span {
    color: var(--light-red);
}
.btn-container {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.btn-container > * {
    width: 8rem;
    background-color: var(--yellow);
    color: var(--text-color);
    text-transform: capitalize;
    letter-spacing: var(--less-space);
}
.reset-btn {
    background-color: var(--light-red);
    color: var(--white);
}
.reset-btn:hover {
    background-color: var(--red);
}
.convert-btn:hover {
    background-color: var(--gold);
}

@media screen and (max-width: 480px) {
    .converter {
        padding: 2rem 1rem;
    }
    .conversion-form select {
        width: 5rem;
    }
}

@media screen and (max-width: 400px) {
    .conversion-form select {
        width: 4rem;
        padding-left: 0.25rem;
    }
    .flags-container {
        column-gap: 0.25rem;
    }
    .swap-btn {
        width: 1.8rem;
    }
    .exchange-result {
        height: 2.8rem;
    } 
}

@media screen and (max-width: 350px) {
    .theme-switcher {
        top: 0.5rem;
        right: 0.5rem;
    }
    .flags-container {
        flex-flow: column wrap;
    }
}

/********************************************* NIGHT THEME *********************************************/

body.night {
    background: linear-gradient(var(--dark-background), var(--text-color));
}
.night .converter {
    background-color: var(--focus-color);
}
.night .theme-switcher {
    color: var(--yellow);
}
.night input, .night select {
    background-color: var(--dark-white);
} 
.night input:focus, .night select:focus {
    background-color: var(--yellow);
    color: var(--text-color);
}
.night .exchange-result span {
    color: var(--white);
}
